{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome to Daddy Awesome's Blog</h1>
        <p>This example is a project of mine to create a blog site out of <code>Flask</code>. </p>
        <p>I will try to talk into this anything tha is awesome under the sun</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
